
microdados_censo_da_educacao_superior_2020/dados/MICRODADOS_CADASTRO_IES_2020.CSV
microdados_censo_da_educacao_superior_2020/dados/MICRODADOS_CADASTRO_CURSOS_2020.CSV
microdados_censo_da_educacao_superior_2021/dados/MICRODADOS_CADASTRO_CURSOS_2021.CSV
microdados_censo_da_educacao_superior_2021/dados/MICRODADOS_CADASTRO_IES_2021.CSV
MICRODADOS_CADASTRO_CURSOS_2020/MICRODADOS_CADASTRO_CURSOS_2020.CSV
